/* Universal codes start */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;800&display=swap');

:root {
  --black: #000;
  --white: #fff;
  --background-red: #F84646;
  --background-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Manrope';
  font-style: normal;
}

.btn {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  background: var(--background-red);
  border-radius: 5px;
  padding: 10px 20px;
  transition: 0.4s all ease;
}

.btn:hover {
  background: #ee5555;
}

.btn:active {
  transform: scale(0.9);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Universal codes end*/




/**********************************************************/






/* Header start */

/* Header end */





/**********************************************************/






/* Key start */

/* Key end */





/**********************************************************/


/* Test start */
.test-section{
  /* background: var(--background-red); */
  background-image:  url("./../images/image\ 1.png") ,linear-gradient(#F84646, #F84646);
}
.test-section-name h1{ 
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  font-feature-settings: 'liga' off;
  color:var(--white);
  margin: 0 auto;
  padding-top: 68px;
}
.test-section-name p{
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  font-feature-settings: 'liga' off;
  color: var(--white);
  margin-top: 8px;
  margin-bottom: 68px;
}
.test-section-footer{
  display: flex;
  align-items: center;
}
.test-section-text1{
font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 31px;
font-feature-settings: 'liga' off;
color:var(--white)
}
.test-section-text img{
  margin-left: 50px;
  margin-right: 53px;
  width: 34px;
}


/* Test end */





/**********************************************************/





/* Information start */

/* Information end */





/**********************************************************/






/* Referans start */

/* Referans end */





/**********************************************************/






/* Connection start */

/* Connection end */





/**********************************************************/



/* Footer start */

/* Footer end */