/* Universal codes start */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;800&display=swap');

:root {
  --black: #000;
  --white: #fff;
  --background-red: #F84646;
  --background-white: #fff;
  --footer-white: #E6E6E6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Manrope';
  font-style: normal;
}

.btn {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  background: var(--background-red);
  border-radius: 5px;
  padding: 10px 20px;
  transition: 0.4s all ease;
}

.btn:hover {
  background: #ee5555;
}

.btn:active {
  transform: scale(0.9);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Universal codes end*/




/**********************************************************/






/* Header start */

/* Header end */





/**********************************************************/






/* Key start */

/* Key end */





/**********************************************************/


/* Test start */

/* Test end */





/**********************************************************/





/* Information start */

/* Information end */





/**********************************************************/






/* Referans start */

/* Referans end */


 


/**********************************************************/






/* Connection start */

/* Connection end */





/**********************************************************/



/* Footer start */


.footer-box{
  display: flex;
  gap: 100px;
  padding-top: 80px;
}

.footer-section {
  background-color: var(--background-red);
}


.footer-section .container h4 a{
  color: var(--background-white);
  display: inline-flex;
  padding-bottom: 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}  

.footer-section .container p a{
  color: var(--footer-white);
  padding-bottom: 24px;
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}  

.footer-section .container .footer-bottom-box{
  display: inline-block;
  display: flex;
  justify-content: space-between;
}

.footer-section .container .footer-bottom-box .footer-right-logo{
    display: flex;
    gap: 25px;
    
}
/* Footer end */